
  .category {
    padding: 20px;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .categories{
    text-decoration:none;
  }
  .category-card-content{
    border-radius:20px;
    border:1px solid black;
    margin:5px 5px;
    width:300px;
    height:350px;
    border-radius: 20px;

  }
  .product-img{
    height:600px;
    margin-top:15px;
  }
  .category-name{
    color:black;
    text-decoration: none;
  }
  