
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playwrite+BR:wght@100..400&family=Shadows+Into+Light&display=swap');

body{ 
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
  
  
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
 
}

.blogcard {
  background-color: white;
  color: black;
  width: 300px;
  height: auto;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

  margin: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogcard:hover{
  box-shadow: inset 0 0 10px 5px #ffb3ff;
}


.productsimgs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px 15px;
}

.product-img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.product-img:hover {
  transform: scale(1.1);}

.pre-content {
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
}

.date {
  font-size: 22px;
  margin: 5px 0;
  font-weight: 45px;
}

.technologies {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.technology {
  background: whitesmoke;
  color: black;
  margin: 7px 3px;
  padding: 2px 10px;
  border-radius: 10px;
}

.techcontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}
.offer{
  color:red;
}
